body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

td,
th {
  border-bottom: 1px solid #ccae51;
  padding: 0.5rem;
}

th {
  text-align: left;
  background-color: #ccae51;
  color: white;
}

thead tr:first-child,
thead tr:first-child th {
  background-color: #3f2b21;
  text-align: center;
  border-left: 1px solid white;
  font-size: 1.3rem;
}

tfoot tr {
  background-color: #3f2b21;
  font-weight: bold;
  color: white;
}

tfoot tr:last-child td {
  border-bottom: none;
}

tbody tr:nth-child(even) {
  background-color: rgba(204, 174, 81, 0.2);
}

table {
  border: 1px solid #3f2b21;
  border-collapse: collapse;
}

caption {
  color: #ccae51;
  text-align: left;
  padding: 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.table-scroll {
  overflow: auto;
}

@media (max-width: 1200px) {
  body {
    height: 150vh;
    background-color: azure;
  }

  /* 
    https://adrianroselli.com/2017/11/a-responsive-accessible-table.html
  */
  table,
  tr,
  td {
    display: block;
  }

  thead,
  th {
    display: none;
  }

  td:nth-child(1)::before {
    content: "Item #: ";
  }
  td:nth-child(2)::before {
    content: "Product or Service: ";
  }
  td:nth-child(3)::before {
    content: "Price (ea): ";
  }
  td:nth-child(4)::before {
    content: "Retail Price (Case): ";
  }
  td:nth-child(5)::before {
    content: "Case Discount: ";
  }
  td:nth-child(6)::before {
    content: "12+ Case Price: ";
  }
  td:nth-child(7)::before {
    content: "12+ Case Discount: ";
  }

  table {
    border: none;
  }

  tbody,
  tfoot {
    border: 1px solid #3f2b21;
  }

  tfoot td:nth-child(1)::before,
  tfoot td:nth-child(2)::before {
    content: "";
  }
}
