body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.item {
  background-color: yellow;
}

.retail {
  background-color: red;
}

.case {
  background-color: blue;
}
